/* AudienceForm.css */

/* AudienceForm.css */

form {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #28a745;
  }
  
  button[type="button"] {
    background-color: #dc3545;
  }
  
  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .error {
    color: #dc3545;
  }
  
  .current-rules {
    margin: 30px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  .rule {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .operator {
    margin-top: 10px;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
    }
  }
  